#first-heading{
  text-align: center;
  color: palegreen;
  background-color: #000;
  font-size: 50px;
  font-family: 'Arial';
  font-weight: bold;
  padding: 10px;
  margin: 0px;
}

.second-heading {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  padding: 10px;
  background-color: #000;
}